:root{
    --boxWidth: calc(30vw / 3);
    --boxHeight: calc(calc(30vh + 10px) / 3);

    --borderWidth: 4px;
    --contentWidth: calc(var(--boxWidth) - 2 * var(--borderWidth));
    --contentHeight: calc(var(--boxHeight) - 2 * var(--borderWidth));
}
*{
    margin:0;
    padding:0;
   
}
.HONE{
    color: blue;
    background-color: green;
    width: 70%;
}
p{
    background-color: green;
    color: aqua;
    width: 70%;
}
div{
    background-color: black;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
}

.div1{
    border-color: black;
    background-color: red;
    width: var(--contentWidth);
    height: var(--contentHeight);
    border-width: var(--borderWidth);
    font-size: min(1.5vh, 1.5vw);
    text-align: left;
    line-height: var(--contentHeight);

}
.div2{
    margin-left: var(--boxWidth);
    text-align: left;
    background-color: green;
    border-color: pink;
    border-width: 8px;
    font-size: min(1.5vh, 1.5vw);
    width: calc(2 * var(--contentWidth));
    height: calc(2 * var(--contentHeight));
    line-height: calc(calc(var(--contentHeight)) - 10px);


}

.div3{
    margin-left: calc(3 * var(--boxWidth));
    background-color: blue;
    border-color: magenta;
    text-align: left;
    font-size: min(1.5vh, 1.5vw);
    border-width: 16px;
    width: calc(4 * var(--contentWidth));
    height: calc(4 * var(--contentHeight));
    line-height: calc(calc(var(--contentHeight)) - 10px);

}